<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>IBM - Brasil | IBM</title>
  </head>
  <body>
    <section id="login-page">
      <header class="login-header" id="login-header">
        <a href="./"><p>IBMid on IBM Security Verify</p></a>
      </header>

      <section class="login-first-section">
        <div class="login-container-1">
          <div class="login-container-2">
            <div class="login-title">Log in to IBM</div>
            <div class="login-label">
              IBMid
              <a href="#" style="color: #056cf2">Forgot IBMid?</a>
            </div>
            <form
              class="login-form"
              id="login-form"
              name="login-form"
            >
              <input
                id="login-email"
                name="email"
                type="text"
                placeholder="E-mail"
                value=""
                class="input"
              />
              <span class="input-error"></span>
              <input
                id="login-password"
                name="password"
                type="password"
                placeholder="Password"
                value=""
                class="input"
              />
              <input
                id="login-button"
                class="login-button"
                type="submit"
              />
              <a href="./profile" class="hidden" id="profile-link">Go to Profile Page</a>
              <!-- <button id="login-button" class="login-button">Continue</button> -->
            </form>
          </div>
          <div class="login-footer">
            Don't have and account?
            <a
              href="./register"
              id="login-create-ibmid"
              style="color: #056cf2"
            >Create an IBMid</a>
          </div>
        </div>
      </section>
    </section>
    <script src="scriptLogin.js"></script>
  </body>
</html>