<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>IBM - Brasil | IBM</title>
  </head>
  <body>
    <h1>Profile page</h1>
    <form>
      <input
        id="post-content-value"
        type="text"
        name="content"
        placeholder="Content"
        value=""
      />
      <input id="post-content-button" type="submit" name="Submit" />
    </form>
    <input id="profile-search-content" type="text" />
    <button id="profile-search-button">Search</button>
    <ul id="profile-contents">
    </ul>
    <script src="scriptProfile.js"></script>
  </body>
</html>