<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>IBM - Brasil | IBM</title>
  </head>
  <body>
    <section id="registration-page">
      <header class="registration-header" id="registration-header">
        <a href="./"><p>IBMid on IBM Security Verify</p></a>
      </header>

      <section class="registration-first-section">
        <div class="register-container-1">
          <div class="register-container-2">
            <div class="register-title">Sign up to IBM</div>
            <div class="register-label">IBMid</div>
            <form
              class="register-form"
              id="register-form"
              name="register-form"
              action="./register"
              method="post"
            >
              <input
                id="register-email"
                name="email"
                type="text"
                placeholder="E-mail"
                value=""
                class="input"
              />

              <input
                id="fname"
                name="fname"
                type="text"
                placeholder="First name"
                value=""
                class="input"
              />

              <input
                id="lname"
                name="lname"
                type="text"
                placeholder="Last name"
                value=""
                class="input"
              />

              <input
                id="register-login"
                name="login"
                type="text"
                placeholder="Login"
                value=""
                class="input"
              />

              <input
                id="register-password"
                name="password"
                type="password"
                placeholder="Password"
                value=""
                class="input"
              />
              <button id="register-button" class="register-button">
                Continue
              </button>
            </form>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>